doctype html
html
  head
    title Furnizori
  body
    h1 Furnizori
    ul
      each furnizor in furnizori
        li
          a(href=`/furnizori/${furnizor.id}`) #{furnizor.name}
          form(action=`/furnizori/delete/${furnizor.id}`, method="POST")
            button(type="submit") Șterge
    h2 Adaugă Furnizor
    form(action="/furnizori", method="POST")
      input(type="text", name="name", placeholder="Nume")
      input(type="text", name="email", placeholder="Email")
      input(type="password", name="password", placeholder="Parolă")
      button(type="submit") Adaugă Furnizor
