// views/users.jade
doctype html
html
  head
    title Users
  body
    h1 Users
    ul
      each user in users
        li
          a(href=`/users/${user.id}`) #{user.email}
          form(action=`/users/delete/${user.id}`, method="POST")
            button(type="submit") Delete
    h2 Add User
    form(action="/users", method="POST")
      input(type="text", name="email", placeholder="Email")
      input(type="password", name="password", placeholder="Password")
      button(type="submit") Add User
